<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Title Here</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-a1CqnDw0rjUj2KGkX7x4R2kUnyQ4i8mKvaoK4C3eezBRL5V59iMMBL6cVAaM/YHR" crossorigin="anonymous">
  <style>
    .search-btn{
      display: flex;
      background-color: #fe424d;
      height: 2.8rem;
      color: #fff;
      border-radius: 25px;
      padding: 0.5rem 1rem; 
    }

    .search-btn:hover{
      background-color: #fe424d;
      color: #fff;
    }

    .search-btn i{
      padding-top: 0.3rem ;
      margin-right: 0.5rem;
    }

    .search-inp{
      border-radius: 25px;
      height: 2.8rem;
      padding: 0.5rem 1rem; 
      font-size: 1rem;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">
        <i class="fa fa-compass" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Wanderlust</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations...">
            <button class="btn search-btn" type="submit"><i class="fas fa-search"></i>Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Rent your home</a>
          <% if(!currUser) { %>
            <a class="nav-link" href="/signup"><b>Sign up</b> </a>
            <a class="nav-link" href="/login"><b>Log in</b> </a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>

</body>
</html>
